<div class="container accomplishments-container">
  <h3>{{ site.accomplishments_title | default: "Accomplishments" }}</h3>
  {% for accomplishments in site.data.accomplishments %}
    <div class="row clearfix accomplishments">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4 class="name">
          {%- if accomplishments.link -%}
            {% include a.html href=accomplishments.link %}
          {%- endif -%}
          {{ accomplishments.company }}
          {%- if accomplishments.link -%}
            </a>
          {%- endif -%}
          </h4>
        <p><b>{{ accomplishments.job_title }}</b></p>
        <p>{{ accomplishments.dates }}</p>
        {% for job in accomplishments.jobs %}
          <p><b>{{ job.title }}</b></p>
          <p>{{ job.dates }}</p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if accomplishments.quote -%}
          <p class="quote">{{ accomplishments.quote }}</p>
        {%- endif -%}
        {{ accomplishments.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
