<div class="container teaching-container">
  <h3>{{ site.teaching_title | default: "Teaching" }}</h3>
  {% for teaching in site.data.teaching %}
    <div class="row clearfix teaching">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4 class="name">
          {%- if teaching.link -%}
            {% include a.html href=teaching.link %}
          {%- endif -%}
          {{ teaching.company }}
          {%- if teaching.link -%}
            </a>
          {%- endif -%}
          </h4>
        <p><b>{{ teaching.job_title }}</b></p>
        <p>{{ teaching.dates }}</p>
        {% for job in teaching.jobs %}
          <p><b>{{ job.title }}</b></p>
          <p>{{ job.dates }}</p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if teaching.quote -%}
          <p class="quote">{{ teaching.quote }}</p>
        {%- endif -%}
        {{ teaching.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
