<div class="container volunteer-container">
  <h3>{{ site.volunteer_title | default: "Volunteer" }}</h3>
  {% for volunteer in site.data.volunteer %}
    <div class="row clearfix volunteer">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4 class="name">
          {%- if volunteer.link -%}
            {% include a.html href=volunteer.link %}
          {%- endif -%}
          {{ volunteer.company }}
          {%- if volunteer.link -%}
            </a>
          {%- endif -%}
          </h4>
        <p><b>{{ volunteer.job_title }}</b></p>
        <p>{{ volunteer.dates }}</p>
        {% for job in volunteer.jobs %}
          <p><b>{{ job.title }}</b></p>
          <p>{{ job.dates }}</p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if volunteer.quote -%}
          <p class="quote">{{ volunteer.quote }}</p>
        {%- endif -%}
        {{ volunteer.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
