<div class="container work-container">
  <h3>{{ site.work_title | default: "Work" }}</h3>
  {% for work in site.data.work %}
    <div class="row clearfix work">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4 class="name">
          {%- if work.link -%}
            {% include a.html href=work.link %}
          {%- endif -%}
          {{ work.company }}
          {%- if work.link -%}
            </a>
          {%- endif -%}
          </h4>
        <p><b>{{ work.job_title }}</b></p>
        <p>{{ work.dates }}</p>
        {% for job in work.jobs %}
          <p><b>{{ job.title }}</b></p>
          <p>{{ job.dates }}</p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if work.quote -%}
          <p class="quote">{{ work.quote }}</p>
        {%- endif -%}
        {{ work.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
